.header{
    min-height: 80vh;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    background-image: linear-gradient(to bottom right,rgba(black,0.4),rgba(black,0.5)),
                      url(../img/showcase-min.jpg);
    background-size: cover;
    background-position: center;    

    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color:white;
    }

    &__title{
        font-size: 3rem;
        margin-bottom: 1rem;

        @include query(cp){
              font-size: 2.5rem;
        }

        @include query(scp){
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .desc{
        @include query(tabp){
            width: 70%;
            margin: 1rem auto;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

}