.search{
    background-color: rgba(black,0.6);
    padding: 2rem;

    @include query(tabp){
        display: none;
    }

    &__hold{
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items:center;
    }

    &__field{
        font-size: 1.5rem;
        flex: 1;
        position: relative;
    }

    &__input{
        display: block;
        width: 100%;
        border: none;
        font-size: 1rem;
        padding: 0.8rem;
        padding-left: 2rem;
        color: #27ae60;
        border-right:1px solid #27ae60;
        
        
    }

    .icon{
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 5px;
        color: #27ae60;
    }
 
    .btn{
        align-self: stretch;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
    }
}